$appWidth: 400px;
$borderRadius: 4px;
$borderColor: #cdd6dd;
$theadBackgroundColor: #fafaf9;

$mobile-max: 767px;
$tablet-min: 768px;
$tablet-max: 991px;
$computer-min: 992px;
$computer-max: 1199px;
$largescreen-min: 1200px;
$largescreen-max: 1919px;
$widescreen-min: 1920px;

* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
}

body, input, select, button {
  font-size: 18px;
  font-family: -apple-system, Ubuntu, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
}

#app {
  @media (max-width: $mobile-max) {
    width: 100%;
    padding: 30px;
  }
  @media (min-width: $tablet-min) {
    width: $appWidth;
    margin: 50px auto;
  }
}

.formGroup {
  margin-top: 20px;
  &:first-child {
    margin-top: 0;
  }

  label {
    display: block;
    margin-bottom: 5px;
  }
}

input, select, button {
  width: 100%;
  height: 50px;
  padding: 0 15px;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  border-radius: $borderRadius;
  border: 1px solid $borderColor;
  &:focus {
    border-color: #7fbdff;
  }
  &:disabled {
    opacity: 1;
    color: #aaa;
    border-color: #ccc;
    background-color: #fafaf9;
  }
  &.is-invalid {
    border-color: #d63030;
  }
}
button {
  color: #fff;
  border: none;
  cursor: pointer;
  background-color: #25a7f1;
  &:hover {
    background-color: darken(#25a7f1, 10%);
  }
}

select {
  background-repeat: no-repeat;
  background-size: 5px 5px, 5px 5px;
  background-position: right 20px top 18px, right 15px top 18px;
  background-image: linear-gradient(45deg, transparent 50%, currentColor 50%), linear-gradient(135deg, currentColor 50%, transparent 50%);
}

.invalid-feedback {
  display: none;
}

.bmiResult {
  padding: 15px;
  margin-top: 30px;
  line-height: 20px;
  background-color: #fafaf9;
  border-radius: $borderRadius;
  border: 1px solid $borderColor;
}

.bmiTable {
  margin-top: 30px;
  border-radius: $borderRadius;
  border: 1px solid $borderColor;

  .tr {
    border-top: 1px solid $borderColor;
    &:first-child {
      .td {
        font-weight: bold;
        background-color: $theadBackgroundColor;
        &:first-child {
          border-top-left-radius: $borderRadius;
        }
        &:last-child {
          border-top-right-radius: $borderRadius;
        }
      }
    }
    &:last-child {
      .td {
        &:first-child {
          border-bottom-left-radius: $borderRadius;
        }
        &:last-child {
          border-bottom-right-radius: $borderRadius;
        }
      }
    }
    &.underweight {
      .td {
        background-color: #74b9ff;
      }
    }
    &.normal {
      .td {
        background-color: #54efc4;
      }
    }
    &.overweight {
      .td {
        background-color: #fab1a0;
      }
    }
    &.obese {
      .td {
        background-color: #ff7675;
      }
    }
    &:first-child {
      border-top: none;
    }
    &:after {
      content: '';
      clear: both;
      display: table;
    }

    .td {
      width: 58%;
      float: left;
      padding: 15px;
      line-height: 20px;
      border-left: 1px solid $borderColor;
      &:first-child {
        width: 42%;
        border-left: none;
      }
    }
  }
}
